.task__2 {
  margin: 0 auto;
  padding: 20px;
  width: 550px;
  box-shadow: 0px 0px 7px 0px #000000;
}
.list {
  margin: 0 auto;
  width: 450px;
  columns: 200px auto;
}
.list__item {
  font-size: 15px;
  line-height: 40px;
}
.list__item::before {
  display: inline-block;
  margin-right: 15px;
  width: 10px;
  height: 7px;
  content: '';
  background-image: url(../img/layer.png);
  background-size: cover;
}
