@import "style.css";

.contact-title {
  margin-bottom: 3.1rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Pathway Gothic One', sans-serif;
}

/*.Marmora*/

.marmora-continer {
  padding-top: 5.3rem;
}
.marmora {
  margin-bottom: 3.3rem;
}
.phone-title {
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
  font-family: arial;
  color: #666565;
}
.phone-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
  width: 13rem;
}
.phone-line:last-child {
  margin-bottom: 0;
}
.phone-cell {
  font-size: 0.8rem;
  font-family: arial;
  color: #666565;
}
.phone-link {
  text-decoration: none;
  font-size: 0.8rem;
  font-family: arial;
  color: #666565;
}
.phone-mail {
  display: flex;
  justify-content: flex-start;
}
.color {
  margin-left: 0.3rem;
  color: #fa7e7e;
}

/*contact*/

.contact-section {
  flex-basis: 20%;
}
.contact-title {
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #263555;
}
.contact-item {
  margin-bottom: 1.2rem;
}
.contact-inp {
  margin-bottom: 1.1rem;
  padding-left: 0.4rem;
  line-height: 1.2rem;
  width: 100%;
  text-transform: uppercase;
  font-family: arial;
}
.contact-inp:last-child {
  margin-bottom: 0;
}
textarea {
  padding-left: 0.4rem;
  font-family: arial;
  resize: none;
}
.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.3rem;
}
.button-item {
  margin-right: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
  background-color: #fbf6f8;
  border: 1px solid #b1aaaa;
  cursor: pointer;
}
.button-item:last-child {
  margin-right: 0;
}
