.gallery {
  min-height: 914px;
}
.gallery-title {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #263555;
}
.gallery-item {
  position: relative;
  float: left;
  margin-right: 2%;
  width: 32%;
}
.gallery-item:hover > .gallery-info {
  display: block;
}
.gallery-item:last-child {
  margin-right: 0;
}
.gallery-img {
  display: block;
  width: 100%;
  height: auto;
}

/*.gallery-info*/

.gallery-info {
  position: absolute;
  display: none;
  padding: 20px 8px;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #193149;
}
.info-title {
  margin-bottom: 26px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #e0e4e7;
}
.info-text {
  font-size: 10px;
  font-family: arial;
  line-height: 14px;
  color: #cbc6c6;
}
.info-link {
  position: absolute;
  padding: 4px 12px;
  right: 12px;
  bottom: 20px;
  text-decoration: none;
  font-size: 12px;
  border-radius: 5px;
  color: #000000;
  background-color: #fbf6f9;
}
