
 .nav {
   position: relative;
   margin: 0 auto;
   margin-bottom: 50px;
   width: 866px;
 }
.logo-menu {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: white;
}
.logo-link {
  display: block;
  text-align: center;
  line-height: 140px;
  font-size: 60px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: dorsa;
  color: #263555;
}

.menu {
  padding: 56px 20px;
}
.menu-item {
  position: relative;
  float: left;
}
.menu-item:hover .submenu {
  display: block;
}
.menu-link {
  display: block;
  padding: 16px 27px;
  text-align: center;
  font-size: 28px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
  color: white;
  transition: 1s;
}
.menu-link:hover {
  color: #7a87aa;
}
.menu-right {
  margin-right: 160px;
}

/*submenu*/

.submenu {
  position: absolute;
  display: none;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 68px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #000000;
}
.submenu::before {
  position: absolute;
  display: inline-block;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #f8f8fc transparent;
}
.submenu-link {
  display: block;
  font-size: 20px;
  font-family: 'Pathway Gothic One', sans-serif;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #6b7488
}
