.slider {
  position: relative;
  padding-top: 60px;
  margin-bottom: 60px;
}
.slider-img {
  width: 100%;
}
.slider-item {
  position: absolute;
  top: 50%;
}
.text-top {
  display: inline-block;
  padding: 15px 20px;
  font-size: 22px;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  border-left: 1px solid black;
  background-color: #ffffff;
}
.text-bottom {
  padding: 10px 20px;
  font-size: 34px;
  font-family: 'Pathway Gothic One', sans-serif;
  text-transform: uppercase;
  background-color: #38afe5;
}

/*control*/

.slider-control {
  position: absolute;
  left: 38px;
  bottom: 38px;
}
.control-left {
  float: left;
  width: 45px;
  height: 90px;
  border-radius: 200% 0 0 200% / 100% 0 0 100%;
  background-color: #38afe5;
  transition: all 1s;
}
.control-left:hover {
  background: rgba(164, 116, 116, 0.3);
}
.control-left::before {
  float: left;
  width: 45px;
  height: 90px;
  content: '';
  background-image: url(../img/arrow-left.png);
  background-size: 38%;
  background-position-x: 70%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}
.control-right {
  float: left;
  width: 45px;
  height: 90px;
  border-radius: 0 200% 200% 0 / 0 100% 100% 0;
  background-color: #38afe5;
  transition:  all 1s;
}
.control-right:hover {
  background: rgba(164, 116, 116, 0.3);
}
.control-right::before {
  display: block;
  float: left;
  width: 45px;
  height: 90px;
  content: '';
  background-image: url(../img/arrow-right.png);
  background-size: 38%;
  background-position-x: 24%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}
