.task-4 {
  padding: 1rem;
}
.Marmora {
  margin-bottom: 3.3rem;
}
.phone-title {
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
  font-family: arial;
  color: #666565;
}
.phone-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
  width: 13rem;
}
.phone-line:last-child {
  margin-bottom: 0;
}
.phone-cell {
  font-size: 0.8rem;
  font-family: arial;
  color: #666565;
}
.phone-link {
  text-decoration: none;
  font-size: 0.8rem;
  font-family: arial;
  color: #666565;
}
.color {
  color: #fa7e7e;
}
