.center {
  padding: 0 3.75rem;
  padding-top: 3.75rem;
  padding-bottom: 3.3rem;
  background-color: white;
}
.border {
  margin-bottom: 3.3rem;
  padding-bottom: 3.3rem;
  border-bottom: 1px solid #dedbdb;
}
.indentation {
  margin-bottom: 3.3rem;
}
.indentation:last-child {
  margin-bottom: 0;
}
.about-title {
  margin-bottom: 2.12rem;
  font-size: 1.25rem;
}
.about-img {
  display: block;
  margin-bottom: 1.5rem;
}
.about-title-three {
  margin-bottom: 1.25rem;
  font-size: 0.87rem;
  font-weight: 600;
  font-family: arial;
  color: #263555;
}
.section-text {
  font-size: 0.75rem;
  font-family: arial;
  line-height: 0.9rem;
  color: #4e5050;
}
.overflow {
  display: none;
}

/*section-right*/

.principles {
  counter-reset: principles;
}
.principles-item {
  display: flex;
  margin-bottom: 1.6rem;
}
.principles-item:last-child {
  margin-bottom: 0;
}
.principles-item::before {
  flex-shrink: 0;
  margin-right: 0.56rem;
  width: 1.56rem;
  height: 1.56rem;
  content: counter(principles);
  counter-increment: principles;
  text-align: center;
  line-height: 1.56rem;
  border-radius: 50%;
  background-color: #38afe5;
}

/*<!-- center-bottum -->*/

.bold {
  margin-bottom: 1.5rem;
  font-weight: 600;
}
.list {
  margin-top: 2.5rem;
  columns: 2;
  font-size: 0.87rem;
  font-family: arial;
  color: #263555;
}
.list-item {
  display: flex;
  font-size: 0.7rem;
  line-height: 1.5rem;
}
.list-item::before {
  margin-right: 0.5rem;
  width: 0.75rem;
  content: '';
  background-image: url(../img/layer.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}

/*right*/

.continer-testimonial {
  position: relative;
  margin: auto;
  padding: 24px;
  width: 16.8rem;
  border: 1px solid #dfdcdc;
}
.continer-testimonial::before {
  position: absolute;
  display: inline-block;
  left: 50%;
  content: '';
  width: 20px;
  height: 20px;
  transform: matrix(1.2,1.1,-1.2,1.1,-7,85);
  border-right: 1px solid #dfdcdc;
  border-bottom: 1px solid #dfdcdc;
  background-color: #ffffff;
}
.text-testimonial::before {
  display: inline-block;
  margin-right: 3px;
  content: "\201c";
}
.text-testimonial::after {
  display: inline-block;
  margin-left: 3px;
  content: '\201d';
}
.continer-name {
  margin-top: 46px;
}
.text-mark {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}
.text-center {
  text-align: center;
}
