* {
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 16px;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
