@media screen and (min-width: 992px) {
  .header-page {
    position: relative;
    margin: auto;
    margin-bottom: 6rem;
    max-width: 64rem;
  }
  .logo {
    position: absolute;
    margin-bottom: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8.75rem;
    height: 8.75rem;
  }
  .menu-item {
    margin-bottom: 0;
  }
  .logo-link {
    font-size: 3.75rem;
    line-height: 8.75rem;
  }
  .menu {
    width: 70%;
  }
  .menu-item {
    flex-basis: 10%;
  }
  .menu-item:nth-child(3) {
    margin-right: 10rem;
  }
  .menu-link {
    font-size: 1.75rem;
  }
  .submenu {
    top: 4.4rem;
  }

  /*about*/

  .indentation {
    margin-bottom: 0;
  }
  .about-title {
    font-size: 2rem;
  }
  .container {
    max-width: 64rem;
  }
  .about-img {
    width: 60%;
  }


  /*principles-item*/

  .principles-item {
    margin-bottom: 1.6rem;
  }

  .list-item {
    font-size: 1rem;
    line-height: 2.5rem;
  }

  .continer-testimonial {
    width: 11rem;
  }
  .continer-testimonial::before {
    transform: matrix(0.6,1.1,-0.6,1.1,-7,138);
  }

  /*gallery*/

  .gallery-item:last-child {
    display: block;
  }

  /*tours*/

  .bottom-mr {
    margin-bottom: 0;
  }
  .browse-section {
    margin-bottom: 1.2rem;
  }
  .continer-inp:nth-child(-n+2) {
    margin-top: 1.6rem;
  }
  .continer-inp:first-child {
    margin-top: 0;
  }
  .button-inp {
    margin-top: 2.9rem;
  }

  /*footer*/

  .row-footer {
    margin: auto;
    width: 80%;
  }
  .social-continer {
    width: 14rem;
  }
}
