h1 {
  text-transform: uppercase;
  font-family: dorsa;
}
h2,h4,h5,h6 {
  font-family: 'Pathway Gothic One', sans-serif;
}
h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #263555;
}
h3 {
  font-family: arial;
  color: #263555;
}
