.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
.wrapper {
  margin: 50px auto;
  width: 500px;
  padding: 40px;
  box-shadow: 0px 0px 8px 0px #000000;
  font-family: arial;
  text-align: justify;
}

/*article*/

.title__two {
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: 800;
}
.plane {
  width: 100%;
}
.title__three {
  padding: 30px 0;
  font-size: 17px;
  font-weight: 700;
}

/*list__box*/

.list__box .title__two {
  padding-top: 60px;
  padding-bottom: 0;
}
.list {
  margin: 0 auto;
  width: 450px;
}
.list__item {
  list-style-type: decimal;
}

/*article 2*/

.offer {
  padding-top: 70px;
}
.text__weight {
  padding-bottom: 20px;
  font-weight: 800;
}

/*information*/

.information {
  padding-top: 30px;
  padding-left: 30px;
}
.information__item {
  padding: 5px 0;
  font-weight: 600;
}
