
@function px-rem($rem){
  $box: $rem / 16px;
  @return #{$box}rem;
}
@mixin link($dplay, $lHeight, $align) {
  display: $dplay;
  line-height: $lHeight;
  text-align: $align;
  text-transform: uppercase;
}
@mixin flex($dflex: flex, $jcontent: space-between, $fwrap: wrap) {
  display: $dflex;
  justify-content: $jcontent;
  flex-wrap: $fwrap;
}
@mixin element($ewidth, $eheight) {
  display: inline-block;
  margin-right: px-rem(5px);
  content: '';
  width: $ewidth;
  height: $eheight;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-footer {
  margin-bottom: px-rem(28px);
  padding-top: px-rem(24px);
  padding-bottom: px-rem(32px);
  background-color: #30455b;
}
.row-footer {
  justify-content: center;
}

// navigation

.navigation {
  @include flex();
  flex-basis: 70%;
  font-family: 'Pathway Gothic One', sans-serif;
}
.navigation-link {
  @include link(block, 2rem, center);
  flex-basis: 30%;
  font-size: px-rem(14px);
  color: white;
}

// contacts

.contacts {
  @include flex();
  color: white;
}
.contacts-title {
  font-size: px-rem(14px);
  color: white;
}
.contacts-text {
  display: flex;
  align-items: center;
  font-size: px-rem(10px);
}
.tel::before {
  @include element(9px, 16px);
  background-image: url(../img/tel.png);
}
.info::before {
  @include element(16px, 12px);
  background-image: url(../img/info.png);
}

// icon

.social {
  margin: auto;
  width: 50%;
  @include flex(flex, space-around, nowrap);
}
.social-link {
  display: block;
  line-height: px-rem(48px);
}
.icon {
  width: px-rem(48px);
  height: px-rem(48px);
  fill: white;
  &:hover {
    fill: #30455b;
  }
}

// copyright-text

.copyright-text {
  margin-top: px-rem(11px);
  text-align: center;
  font-size: px-rem(12px);
  font-family: arial;
  color: #ffffff;
}
.copyright-border::after {
  display: inline-block;
  margin: 0 px-rem(6px);
  content: '';
  width: 1px;
  height: px-rem(10px);
  background-color: #ffffff;
}
.copyright-border::before {
  display: inline-block;
  margin: 0 px-rem(6px);
  content: '';
  width: 1px;
  height: px-rem(10px);
  background-color: #ffffff;
}
