
.nav__page {
  width: 50%;
}
.menu {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  width: 100%;
  transition: all 50s;
  transition-timing-function: ease-out;
}
.menu__item {
  position: relative;
  flex-basis: 30%;
  margin-bottom: 0.5rem;
}
.menu__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.menu__item:hover .submenu {
  display: block;
}
.menu__link {
  display: block;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2rem;
  font-size: 1.25rem;
  font-family: 'Pathway Gothic One', sans-serif;
  color: black;
}
.menu__link:hover {
  color: #263555;
}

/*submenu*/

.submenu {
  /*display: none;*/
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  z-index: 99999;
  background-color: white;
  border: 2px solid black;
  transition: all 1s;
  transition-property: border-style, background-color;
  transition-duration: all 10s;
  transition-timing-function: ease-in, ease, linear;
}
.submenu:hover {
  background-color: red;
  border-style: dashed;
}
.submenu::before {
  display: block;
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
	width: 0;
	height: 0;
	border-left: 0.31rem solid transparent;
	border-right: 0.31rem solid transparent;
	border-bottom: 0.62rem solid white;
}
.submenu__link {
  display: block;
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 1.2rem;
  color: #6b7488;
}
