.container-footer {
  margin-bottom: 1.75rem;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  background-color: #30455b;
}
.row-footer {
  justify-content: center;
}

/*footer-nav*/

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.footer-link {
  flex-basis: 32%;
  margin-bottom: 0.87rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.87rem;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #ffffff;
}
.footer-link:nth-last-child(-n+3) {
  margin-bottom: 0;
}

/*contact-footer*/

.contact-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: #ffffff;
}
.footer-title {
  align-self: center;
  text-transform: uppercase;
  font-size: 0.87rem;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #ffffff;
}
.footer-text {
  display: flex;
  align-items: center;
  font-size: 0.62rem;
  font-family: arial;
  color: #ffffff;
}
.tel::before {
  margin-right: 0.3rem;
  width: 0.62rem;
  height: 1.06rem;
  content: '';
  background-image: url(../img/tel.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.info::before {
  margin-right: 0.3rem;
  width: 1.12rem;
  height: 0.87rem;
  content: '';
  background-image: url(../img/info.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*social*/

.social-continer {
  margin: auto;
  /*width: 8rem;*/
}
.social {
  display: flex;
  justify-content: space-around;
}
.social-link {
}
.icon {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;

}
/*.social-link:hover {
  filter: contrast(60%);
}*/

/*copyright*/

.copyright-text {
  margin-top: 0.7rem;
  text-align: center;
  font-size: 0.5rem;
  font-family: arial;
  color: #ffffff;
}
.copyright-border::after {
  display: inline-block;
  margin: 0 0.37rem;
  content: '';
  width: 1px;
  height: 0.37rem;
  background-color: #ffffff;
}
.copyright-border::before {
  display: inline-block;
  margin: 0 0.37rem;
  content: '';
  width: 1px;
  height: 0.37rem;
  background-color: #ffffff;
}
