@import "base.css";
@import "typography.css";
@import "header.css";
@import "footer.css";
@import "gallery.css";
@import "tablet.css";
@import "desktop.css";

.center {
  padding: 3.37rem 2.25rem;
  background-color: white;
}
.about-title {
  margin-bottom: 2.25rem;
  font-size: 2rem;
}

/*bottom-top*/

.bottom-top {
  display: block;
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #38afe5;
}
.bottom-top::after {
  display: inline-block;
  content: '';
  width: 30px;
  height: 30px;
  background-image: url(../img/arrow-top.png);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
