
* {
  box-sizing: border-box;
}
.body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


/*nav*/

.header-page {
  margin-bottom: 50px;
  padding-top: 46px;
}
.nav {
  margin: auto;
  width: 874px;
}

.menu {
 display: flex;
 align-items: center;
}
.menu-logo {
  flex-basis: 140px;
}
.logo-menu {
  border-radius: 50%;
  background-color: white;
}
.logo-link {
  display: block;
  text-align: center;
  line-height: 140px;
  font-size: 60px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: dorsa;
  color: #263555;
}
.menu-item {
  position: relative;
  flex-basis: 120px;
}
.menu-item:hover .submenu {
 display: block;
}
.menu-link {
 display: block;
 text-align: center;
 font-size: 28px;
 line-height: 50px;
 text-decoration: none;
 text-transform: uppercase;
 font-family: 'Pathway Gothic One', sans-serif;
 color: white;
 transition: 1s;
}
.menu-link:hover {
 color: #7a87aa;
}

/*submenu*/

.submenu {
 position: absolute;
 display: none;
 padding: 10px;
 left: 50%;
 transform: translateX(-50%);
 width: 68px;
 background-color: white;
 box-shadow: 0px 0px 5px 0px #000000;
}
.submenu::before {
 position: absolute;
 display: inline-block;
 top: -1%;
 left: 50%;
 transform: translate(-50%, -50%);
 content: '';
 width: 0px;
 height: 0px;
 border-style: solid;
 border-width: 0 5px 10px 5px;
 border-color: transparent transparent #f8f8fc transparent;
}
.submenu-link {
 display: block;
 text-align: center;
 text-decoration: none;
 text-transform: uppercase;
 font-size: 20px;
 font-family: 'Pathway Gothic One', sans-serif;
 line-height: 24px;
 color: #6b7488
}

/*wrapper*/

.wrapper {
  margin: auto;
  padding: 0 60px;
  width: 1024px;
  background-color: #ffffff;
}

/*bottom-top*/

.bottom-top {
  display: block;
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #38afe5;
}
.bottom-top::after {
  display: inline-block;
  content: '';
  width: 30px;
  height: 30px;
  background-image: url(../img/arrow-top.png);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

/*footer*/

.footer-page {
  margin: auto;
  width: 1024px;
  padding-bottom: 52px;
}
.footer-continer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  padding: 0 136px;
  padding-top: 44px;
  padding-bottom: 48px;
  background-color: #30455b;
}

/*footer-nav*/

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  flex-basis: 600px;
  /*padding-bottom: 48px;*/
}
.footer-link {
  flex-basis: 33%;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Pathway Gothic One', sans-serif;
  line-height: 24px;
  color: #ffffff;
}
.footer-link:nth-child(n+4) {
  margin-bottom: 0;
}

/*contact-footer*/

.contact-footer {
  color: #ffffff;
}
.footer-title {
  margin-bottom: 14px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Pathway Gothic One', sans-serif;
}
.footer-text {
  font-size: 12px;
  font-family: arial;
  line-height: 20px;
}

/*social*/

.social-continer {
  margin: auto;
  width: 216px;
}
.social {
  display: flex;
  justify-content: space-around;
}
.social-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.social-link:hover {
  filter: contrast(60%);
}
.bg-twitter {
    background: url('../img/css_sprites.png') -10px -10px;
}
.bg-facebook {
    background: url('../img/css_sprites.png') -70px -10px;
}
.bg-google {
    background: url('../img/css_sprites.png') -10px -70px;
}
.bg-in {
    background: url('../img/css_sprites.png') -70px -70px;
}

/*copyright*/

.copyright-text {
  margin-top: 24px;
  text-align: center;
  font-size: 12px;
  font-family: arial;
  line-height: 25px;
  color: #ffffff;
}
.copyright-border::after {
  display: inline-block;
  margin: 0 6px;
  content: '';
  width: 1px;
  height: 11px;
  background-color: #ffffff;
}
.copyright-border::before {
  display: inline-block;
  margin: 0 6px;
  content: '';
  width: 1px;
  height: 11px;
  background-color: #ffffff;
}
