.container__task2 {
  margin: 0 auto;
  padding: 40px;
  width: 500px;
  box-shadow: 0px 0px 8px 0px #000000;
  font-family: arial;
  text-align: justify;
}
/*article*/

.container__task2 .title__two {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 800;
}
.plane {
  margin-bottom: 15px;
  width: 100%;
}
.container__task2 .title__three {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 700;
}

/*list__box*/

.list__box .title__two {
  margin-top: 60px;
  padding-bottom: 0;
}
.list {
  margin: 0 auto;
  width: 450px;
}
.list__item {
  margin-top: 15px;
  list-style-type: decimal;
}

/*article 2*/

.offer {
  margin-top: 70px;
}
.text__weight {
  padding-bottom: 20px;
  font-weight: 800;
}
