.box__left {
  float: left;
  width: 620px;
}
.title__two {
  font-size: 22px;
  font-weight: 600;
  color: #263555;
  text-transform: uppercase;
}
.agency__body {
  margin-top: 48px;
  margin-bottom: 8px;
}
.agency__img {
  float: left;
  margin-right: 24px;
  width: 360px;
}
.article__body {
  float: left;
  width: 236px;
}
.text__weight {
  margin-bottom: 12px;
  font-size: 15px;
  font-weight: 600;
}
