@import "box__left.css";
@import "box__right.css";
@import "box__bottom.css";

* {
  box-sizing: border-box;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
.body {
  padding-top: 230px;
  padding-bottom: 134px;
  background-image: url(../img/background.jpg);
  background-size: cover;
}
.wrapper {
  margin: 0 auto;
  padding-top: 114px;
  width: 1024px;
  font-family: arial;
  background-color: #ffffff;
}
.box__top {
  padding: 0 60px;
  margin-bottom: 60px;
  padding-bottom: 50px;
  border-bottom: 1px solid #dedbdb;
}
.text {
  font-size: 13px;
}
