.task-2 {
  padding: 98px 58px;
}
.title-three {
  margin-bottom: 46px;
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #263555;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  min-height: 700px;
}
.gallery-item {
  position: relative;
  flex-basis: 32%;
}
.gallery-item:hover > .gallery-background {
  display: block;
}
.gallery-img {
  width: 100%;
}

/*gallery-background*/

.gallery-background {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background: rgba(12, 12, 12, 0.5);
}
.gallery-link {
  display: block;
}
.gallery-link::before {
  display: inline-block;
  width: 100%;
  height: 180px;
  content: '';
  background-image: url(../img/icon.png);
  background-size: 10%;
  background-position: center;
  background-repeat: no-repeat;
}
