.task-3 {
  margin: auto;
  padding: 50px;
  width: 300px;
}
.categories {
  margin-bottom: 56px;
}
.list-title {
  margin-bottom: 45px;
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Pathway Gothic One', sans-serif;
  color: #263555;
}
.list-item {
  display: flex;
}
.list-item::before {
  content: '';
  width: 30px;
  height: 30px;
  background-image: url(../img/layer.png);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}
.list-link {
  display: block;
  line-height: 30px;
  text-decoration: none;
  font-size: 12px;
  font-family: arial;
  color: #263555;
}
